*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

body {
    height: 100vh;
    width: 100vw;
    background-color: gray;
    overflow: hidden;

}

/* #nav-bar {
    height: 100%;
    width: 25%;
    background-color: rgb(205, 167, 146);
    float: left;
} */

#container {
    height: 100%;
    width: 75%;
    background-color: rgb(67, 89, 120);
    float: right;
    padding-top: 28vh;
    color: rgb(41, 34, 27);  
}

#foto-yuri{
    width: 75%;    
    border-radius: 50%;
    margin-top: 30vh;
    margin-left: 12%;
    border: 2px solid black;
}

ul{
    text-align: center;
    margin-top: 2vh;
}

li a{
    margin-top: 20vh;
    text-decoration: none;
    color: black;
    text-transform: uppercase; 
    
}

.active{
    text-decoration: overline;
}

li{
    margin-top: 2vh;
}

h1{    
    text-transform: uppercase;
    font-size: 60px;
}

.text-box{
    padding-left: 5%;    
    font-size: 15.5px;
}

h5, p{
    padding-top: 4px;
    padding-right: 15%;
}

h5 a{
    text-decoration: none;
    color: rgb(41, 34, 27);
}

.buttons{
    padding-left: 5%;
    padding-top: 2%;
    
}

i{
    padding-left: 2%;
    font-size: 30px;
}

.buttons a:visited{
    text-decoration: none;
    color: rgb(205, 167, 146);
}